:root {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
  --break-color: #e1e1ff;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);

  /* padding-left: calc(50% - 300px);
  padding-right: calc(50% - 300px); */
  display: block;
  text-align: center;
  text-align: -webkit-center;
}

.page-area {
  /* max-width: 500px;
  position: relative;
  margin: 0 auto;
  padding: 30px;
  height: 100vh; */
  max-width: 500px;
  /* width: 100%; */
}

hr {
  border-color: var(--break-color);
  box-sizing: content-box;
  /* width: 300px; */
}

.btn-custom {
  width: 110px !important;
}

.players-container {
  margin: 0 auto;
  justify-content: center;
}

ul.list-group {
  padding-bottom: 1em;
}

.players-container {
  width: 70%;
}

/* Style the list (remove margins and bullets, etc) */
ol {
  list-style-type: none;
  width: 100%;
  /* padding: 0;
  margin: 0; */
}

  
#canvas {
  border: 2px solid white;
}