:root {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #2d2d4a;
  --break-color: #e1e1ff;
  /* --primary-color: #03738C;
  --secondary-color: #0396A6;
  --font-color: #03738C;
  --bg-color: rgb(3, 3, 3);
  --heading-color: #B4C4D9;
  --break-color: #023859; */
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  display: block;
  text-align: center;
  text-align: -webkit-center;
}

hr {
  border-color: var(--break-color);
  box-sizing: content-box;
}



/* Page Area */
.page-area {
  max-width: 500px;
}

/* Home Page */
.alert-overview{
  background-color: var(--heading-color);
  border-color: var(--heading-color);
  color: var(--font-color);
}

/* Rules Page */
.alert-rules{
  text-align: left;
  background-color: var(--heading-color);
  border-color: var(--heading-color);
  color: var(--font-color);
}

/* Lobby Page */
.players-container {
  margin: 0 auto;
  justify-content: center;
  width: 70%;
}

ul.list-group {
  padding-bottom: 1em;
}

.list-group-item{
  color: black;
}

li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.material-icons {
  font-size: 16px !important;
}


/* Clues Page */
input[type=checkbox]:checked + label {
  text-decoration: line-through;
} 

.clues-container {
  margin: 0 auto;
  justify-content: center;
  width: 70%;
}

/* Final Page */
.table{
  color: white;
}

